<div class="content">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Tambah Device</h4>
      <p class="card-category">Masukkan data device</p>
    </div>
    <div class="card-body">
      <form action="/devices/create" method="POST">
        <div class="form-group">
          <label>Id</label>
          <input type="text" class="form-control" name="Id">
        </div>
        <div class="form-group">
          <label>Nama Device</label>
          <input type="text" class="form-control" name="Nama">
        </div>
        <div class="form-group">
          <label>Mesin</label>
          <input type="text" class="form-control" name="Mesin">
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-block">Tambah</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>

</div>
