<div class="content">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Edit Device</h4>
      <p class="card-category">Masukkan data Edit device</p>
    </div>
    <div class="card-body">
      <form action="/devices/edit/{{data.Id}}" method="POST">
        <div class="form-group">
          <label>Nama Device</label>
          <input type="text" class="form-control" name="Nama" value="{{data.Nama}}">
        </div>
        <div class="form-group">
          <label>Mesin</label>
          <input type="text" class="form-control" name="Mesin" value="{{data.Mesin}}">
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-block">Edit</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>

</div>
