
<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <a rel="tooltip" title="" data-original-title="Create Device" href="/devices/create" class="btn btn-info btn-round btn-sm pull-right">
          <i class="material-icons">add</i> Tambah
        </a>
        <h4 class="card-title">{{ title }}</h4>
        <p class="card-category">Daftar devices</p>
        <div class="clearfix"></div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>Nama</th>
                <th>Mesin</th>
                <th class="text-right">#</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                  <td>{{Nama}}</td>
                  <td>{{Mesin}}</td>
                  <td class="td-actions text-right">
                    <a rel="tooltip" title="" data-original-title="View Device" class="btn btn-primary btn-round" href="/devices/{{Id}}">
                        <i class="material-icons">pageview</i>
                    </a>
                    <a rel="tooltip" title="" data-original-title="Edit Device" class="btn btn-warning btn-round" href="/devices/edit/{{Id}}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a rel="tooltip" title="" data-original-title="Delete Device" class="btn btn-danger btn-round" href="/devices/delete/{{Id}}">
                        <i class="material-icons">delete</i>
                    </a>
                  </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
