
<div class="content">
  <div class="container-fluid">
    <div class="card card-nav-tabs">
      <div class="card-header card-header-primary">
        <h4 class="card-title">{{ title }}</h4>
      </div>
      <div id="map" style="margin:0"></div>
      <div class="card-body">
      <p class="card-category">Keterangan device :</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{data.Nama}}</li>
          <li class="list-group-item" id="values">{{data.Latitude}} {{data.Longitude}}</li>
          <li class="list-group-item">{{data.Mesin}}</li>
          <li class="list-group-item">{{data.Speed}}</li>
          <li class="list-group-item">{{data.Pusat}}</li>
          <li class="list-group-item">{{data.Jarak}}</li>
        </ul>
      </div>

    </div>

  </div>
</div>

<script>
  var map;
  function initMap() {
    var uluru = {lat: parseFloat({{data.Latitude}}), lng: parseFloat({{data.Longitude}})};
    map = new google.maps.Map(document.getElementById('map'), {
      center: uluru,
      zoom: 15
    });
    var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
