<div id="map" class="content"></div>

<script>
  var map;
  function initMap() {
    var uluru = {lat: 3.601923, lng: 98.642754};
    map = new google.maps.Map(document.getElementById('map'), {
      center: uluru,
      zoom: 15
    });
    var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
