<div class="page-header header-filter" style="background-image: url('/assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
            <div class="card-body">
            <h1 class="description text-center">{{error}}</h1>
            <p class="description text-center">Error!, {{message}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
